page-home {
    .content {
        background-color: #EEE !important;
    }
    
}

.item ion-thumbnail, .item-md ion-thumbnail ion-img, .item-md ion-thumbnail img {
    min-width: 40px !important;    
    min-height: 40px !important;    
    img {
        max-width: 40px !important;       
        min-width: 40px !important;    
    }
}


.item-md ion-thumbnail ion-img, .item-md ion-thumbnail img {
    height: 40px !important;
}


.header-imagery {
    width: 100% !important;
    height: 400px;
}


.header-imagery img {
    width: 100%;
}


.module-header {
    background-color: #03a9f4;
}

.submodule-header {
    background-color: #03a9f4;
}

.white {
    background-color: #fff;
}