<ion-header>
    <ion-navbar color="girl">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>
        Impostazioni path
      </ion-title>
    </ion-navbar>
  </ion-header>


<ion-content padding>

              <div *ngIf="items" style="margin-bottom: 25px;">
                <ion-item *ngFor="let conf of items">
                      <ion-label color="primary">{{conf.label}}</ion-label>
                      <ion-input placeholder="" [(ngModel)]="conf.value" clearInput></ion-input>
                </ion-item>
              </div>

              
                <button ion-button color="boy" (click)="savePathConfiguration()">
                  <ion-icon name="cloud-upload"></ion-icon>&nbsp;
                    Salva
                </button>
               
</ion-content>
